body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
}
li {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo .header-logo-text {
  color: #2e2f42;
}
.logo:hover,
.logo:focus {
  color: #404bbf;
}

.logo .header-logo-text:hover,
.logo .header-logo-text:focus {
  color: #404bbf;
}

.logo .footer-logo-text {
  color: #f4f4fd;
}
.logo .footer-logo-text:hover,
.logo .footer-logo-text:focus {
  color: #404bbf;
}

.link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.contact-info {
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.contact-info:hover,
.contact-info:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* OUR TEAM */

.section-our-team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  text-indent: 5px;
}
